---
import { getEntry } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import { marked } from 'marked';

const privacyEntry = await getEntry('pages', 'privacy');
const { title, content } = privacyEntry?.data || {};
---

<Layout title="Privacy Policy | Wildwood Psychotherapy">
	<main>
		<section class="bg-alternate pt-32 pb-20 px-4">
			<div class="max-w-4xl mx-auto">
				<h1 class="text-5xl font-serif mb-10 text-center ">{title}</h1>
				<div class="prose prose-invert prose-lg max-w-none " set:html={marked.parse(content || '')} />
			</div>
		</section>
	</main>
</Layout>
